html {
	background-image: url(../images/psychicProjectBackground.jpeg);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 300;
}

body {
	margin: 0, none;
}


h1 {
	text-align: center;
	font-size: 80px;
	line-height: 1.5em;
	color: #fff;
}


p, h4 {
	background-color: rgba(98, 193, 222, 0.3);
	color: #fff;
	line-height: 1.2em;
	font-size: 25px;
	text-align: left;
	width: 45%;
	margin-left: 205px;
	margin-top: 30px;
	padding-left: 60px;
}


